html, body {
    padding-top: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 60%;
    display: none;
}

.center {
    padding: 40px 15px;
    text-align: center;
}
#tweet {
    display: none;
}

#search {
    display: none;
}

#handle {
    margin-top: 20px;
    text-align: center;
}

iframe {
    display: inline-block !important;
}

#loading {
    display: none;
}

#noTweets {
    display: none;
}

.twitterlogo {
    content:url("../img/twitter.png");
    margin-top: -14px;
    width: 150px;
}
#stats {
    display: none;
    margin-top: 60px;
    text-align: center;
}

#stats_txt {
    font-size: 16pt;
}

caption {
    text-align: center;
}

/* Spinning Loading */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
/* /Spinning Loading */
